.categorySection {
  margin-bottom: 60px;
}

.categoryTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.activityList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.activityCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.bannerImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.activityContent {
  padding: 15px; /* Reduced padding for a tighter layout */
  display: flex;
  gap: 15px; /* Reduced gap for a more compact look */
}

.thumbnailImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.activityName {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.activityType,
.activityAddress {
  font-size: 0.9rem;
  color: #555;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
