.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  gap: 0.5rem;
  padding: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  height: fit-content;
  padding: 0.75rem;
}

.loading {
  color: black;
}

.serviceList {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
