.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  border: 1px solid #ddd;

  .logo {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
  }

  .menuToggle {
    box-shadow:
      10px 10px 20px #babecc,
      -10px -10px 20px #fff;
    background-color: rgb(255, 255, 255) !important;
    font-size: 1.8rem;
    padding: 0.2rem;
    cursor: pointer;
    display: block;
    margin-left: auto;

    .icon {
      color: black;
      display: flex;
      align-items: center;
    }
  }

  .navLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 3.75rem;
    right: 0.625rem;
    background-color: #444;
    width: 12.5rem;
    border-radius: 0.313rem;

    &.open {
      display: flex;
    }

    li {
      margin: 1rem 0;
    }

    a {
      color: white;
      text-decoration: none;
      padding: 0.5rem;
      width: 100%;
      text-align: center;
    }
  }

  .active {
    color: black;
    border-bottom: 2px solid white;
  }

  @media (min-width: 600px) {
    .menuToggle {
      display: none;
    }

    .navLinks {
      display: flex;
      position: static;
      flex-direction: row;
      background: none;
      width: auto;

      a {
        color: black;
      }
    }
  }
}
