.serviceList {
  ul {
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.serviceItem {
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  background: #fafafa;
  transition: 0.3s;
}

.serviceItem:hover {
  cursor: pointer;
  background-color: white;
  border-color: black;
}

.thumbnail {
  max-width: 150px;
  margin-right: 20px;
}

.serviceDetails {
  h2 {
    margin: 0 0 10px 0;
  }

  p {
    margin: 5px 0;
  }
}
